<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipes</title>
</head>
<body>
  <h2>Recipes</h2>
  
  <% if (recipes.length > 0) { %>
    <% recipes.forEach(recipe => { %>

    <div class="recipe-card">
      <h3 class="title"><%= recipe.title %></h3>
      <p class="description"><%= recipe.description %></p>
    </div>

    <% }) %>
  <% } %>
</body>
</html>